<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игра</title>
    <link rel="icon" type="image/x-icon" href="/front_part/static/favicon.ico">
    <link rel="stylesheet" href="/front_part/static/styles.css"> <!-- Подключаем CSS -->
    <script>
        const form = document.querySelector("form");
        document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector("form");
    form.addEventListener("submit", function(event) {
        event.preventDefault();
        const formData = {
            name: document.getElementById("name").value,
            role: document.getElementById("role").value
        };
        fetch("/submit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body : JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            console.log("Data received:", data);
            if (data.redirect) {
                window.location.replace(data.redirect);
            } else {
                document.getElementById("message").innerText = `Ответ сервера: ${data.message}`;
            }
        })
        .catch(error => {
            console.error("Ошибка:", error);
        });
    });
});
    </script>
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать в игру!</h1>

        <div id="message" class="message-box">Ожидание сообщений от сервера...</div>

        <h2>Введите ваше имя и выберите роль</h2>
        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="input-field">
            </div>
            
            <div class="form-group">
                <label for="role">Role:</label>
                <select id="role" name="role" class="input-field">
                    <option value="player">Игрок</option>
                    <option value="leader">Ведущий</option>
                </select>
            </div>
            
            <input type="submit" value="Войти" class="submit-btn">
        </form>
    </div>
</body>
</html>
