<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Комната ожидания</title>
    <link rel="icon" type="image/x-icon" href="/front_part/static/favicon.ico">
    <link rel="stylesheet" href="/front_part/static/styles.css">
    <script src="/front_part/js/ws_conn.js"></script>
</head>
<body>
    <div class="container">
        <h1>Комната ожидания</h1>
        <p id="statusMessage">Подключение...</p>
        <h2>Список участников:</h2>
        <ul id="participants"></ul>
    </div>
</body>
</html>